/* ======= Main Content Styles ======= */
body {
  background-color: #fffddf;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: .5em;
}

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-height: 50vh;
  margin-top: 10%;
}

/* Positioning for each heap */
.heap-one,
.heap-two,
.heap-three {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-large {
  border-radius: 10px;
}

a {
  margin: 0 5px 5px 5px;
}

.logo {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}