/* ======= Main Content Styles ======= */
body {
  background-image: url("img/back1.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway";
}

main {
  flex: 1 0 auto;
}

.instructions {
  margin: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

h4 {
  font-family: "Permanent Marker";
}

nav {
  background-color: #0F3D5B;
  box-shadow: 0 2px 15px 6px #000;
}


.page-footer {
  background-color: #0F3D5B;
}

a {
  margin: 0 5px;
}

.game-title {
  font-family: "Permanent Marker";
}

.item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: .5em;
  box-shadow: 5px 10px 18px #000;
}

/* Game board is flex to align game pieces better than Materialize grid */
.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-height: 50vh;
  margin-top: 10%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Positioning for each heap */
.heap-one,
.heap-two,
.heap-three {
  display: flex;
  justify-content: center;
  align-content: center;
}

.heap-one > .item {
  background-color: #32DB49;
}

.button-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn,
.btn-large {
  border-radius: 10px;
}

.logo {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.win-msg {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  color: #222;
  padding: 10px;
}

@media (max-width: 800px) {
  .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: .1em;
  }

  .switch-player {
    font-size: 14px;
  }
}